<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div ng-cloak>

          <h1 class="md-display-1">Housing Guide</h1>
          <h2>Our residence at SRH </h2>
          <p>Bonhoefferstrasse 09</p>
          <img src="http://www.fuu-heidelberg-languages.com/var/fuu/storage/images/media/images/emmertsgrund116/163711-1-ger-DE/emmertsgrund116.jpg" alt="Housing Guide1" style="width:20%;">
          <p>single room<span class="glyphicon glyphicon-user"></span></p>
          <p>Handicapped accessible<i class="fa fa-wheelchair"></i></p>
          <p><span class="glyphicon glyphicon-euro"></span>250-300</p>
          <p>furnished</p>
          <p>report problem<span class="glyphicon glyphicon-alert"></span></p>
          <p>WC</p>
          <p>Free wifi<span class="glyphicons glyphicons-wifi"></span></p>
          -------------------------------------------------------------------------------------------------------------------
          <h2>BONHOEFFERSTRASSE 13</h2>
          <img src="http://www.srh-pflege.de/fileadmin/_processed_/csm__M6E6257_f7a45e5742.jpg" alt="Housing Guide2" style="width:15%;">
          <p>single room<span class="glyphicon glyphicon-user"></span></p>
          <p>Handicapped accessible<i class="fa fa-wheelchair"></i></p>
          <p><span class="glyphicon glyphicon-euro"></span>250-300</p>
          <p>furnished</p>
          <p>report problem<span class="glyphicon glyphicon-alert"></span></p>
          <p>WC</p>
          <p>Free wifi<span class="glyphicons glyphicons-wifi"></span></p>
          ---------------------------------------------------------------------------------------------------------------------------
          <h2>LUDWIG-GUTTMAN STRASSE</h2>
          <img src="https://cdn-hochschule-heidelberg.azureedge.net/fileadmin/_processed_/a/8/csm_wohnen_ff7c31d3eb.jpg" alt="Housing Guide3" style="width:15%;">
          <p>single room<span class="glyphicon glyphicon-user"></span></p>
          <p>Handicapped accessible<i class="fa fa-wheelchair"></i></p>
          <p><span class="glyphicon glyphicon-euro"></span>250-300</p>
          <p>furnished</p>
          <p>report problem<span class="glyphicon glyphicon-alert"></span></p>
          <p>WC</p>
          <p>Free wifi<span class="glyphicons glyphicons-wifi"></span></p>
          -------------------------------------------------------------------------------------------------------------------------------------------
          <h2>MARIA-PROBST-STRASSE</h2>
          <img src="http://www.srh-pflege.de/fileadmin/_processed_/csm__M6E6257_f7a45e5742.jpg" alt="Housing Guide4" style="width: 15%;">
          <p>single room<span class="glyphicon glyphicon-user"></span></p>
          <p>Handicapped accessible<i class="fa fa-wheelchair"></i></p>
          <p><span class="glyphicon glyphicon-euro"></span>250-300</p>
          <p>Shared rooms<span class="glyphicon glyphicon-user-add"></span></p>
          <p>furnished</p>
          <p>report problem<span class="glyphicon glyphicon-alert"></span></p>
          <p>WC</p>
          <p>Free wifi<span class="glyphicon glyphicon-wifi"></span></p>
        ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

          <h1 class="md-display-2">Student Guide</h1>
          <h2>Ultimate Student Guide!</h2>
          <h3>INTERNATIONAL STUDENTS</h3>
          <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR5ScmMad9rtvRnRhj0c_xkaNFypZ_Bj0jZljPpIt7FfFjYQ4pb" alt="student guide2" style="width: 20%;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
          <h3>GERMAN STUDENTS</h3>
          <img src="https://media.licdn.com/media-proxy/ext?w=543&h=361&f=&hash=lcahCq90CRKRqR0HKYZ3%2BGSc7D8%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta9Er0Vinkhwfjw8177yE41y87UNCVordEGXyD3u0qYrdf3K8f86MLeCouVVFeHgclANgd_L6QTDpD5S_LN-5dYp1jJfjd424ZxUBbFI8lWxI" alt="student guide3" style="width: 20%">
          <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
          <H3>EUROPEAN STUDENTS</H3>
          <img src="https://cdn-hochschule-heidelberg.azureedge.net/fileadmin/_processed_/d/f/csm_SRH_515_8cb4939467.jpg" alt="Student Guide1" style="width: 20%">
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

          <h1 class="md-display-3">Campus Life</h1>
          <p>FOOD COURT</p>
          <img src="https://media3.ais-online.de/media/11722709/images/11722710px600x260.jpg" alt="campus life1" style="width: 20%">
          <p>SRH SPORTS</p>
        <img src="http://srh-fs-gesundheit.die-fachschulen.de/typo3temp/cyz_imagegallery/thumb_1979_600_450_60.jpg" alt="campus life2" style="width: 20%">
          <p>Tram Stop</p>
          <img src="http://www.rnv-online.de/fileadmin/user_upload/images/RNV/Presse/2016-12-12_Einweihung_SRH_Campus.jpg" alt="campus life3" style="width: 20%">
          <p>SRH library</p>
          <img src="https://www.srh-hochschule-berlin.de/fileadmin/_processed_/0/5/csm_SRH-HS-Berlin__5_von_195__2b3ef33138.jpg" alt="campus life4" style="width: 20%">

</div>
