.body{
  width: 900px;
  height: 800px;
}
.button {
  background-color: #0080C0;
  border: none;
  color: white;
  padding: 7px 32px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  margin-left: 0px;
}
.carousel {
  background-size: auto;
}

.details {
  float: left;
  width: 48%;
  margin: 1%;
}
.footer {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: .9375rem;
  padding-right: .9375rem;
  font-size: .875rem;
  margin-top: 400px;
  margin-left: 250px;
}
