
<div id="header">
  <h1>SRH ACCOMODATION</h1>
<form action="/action_page.php">
  show
  <select number="list">
    <option value="10">10</option>
    <option value="25">25</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select> entries<div align="right">search<input type="text" >
  </div>
<table>
  <tr>
    <th>Name</th>
    <th>Email ID</th>
    <th>Booking ID</th>
    <th>Room Type</th>
    <th>Rent</th>
    <th>View Attachment</th>
    <th>From</th>
    <th>Till</th>

  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><u>click to view document</u></td>
      <td><input type="date" name="date"></td>
    <td><input type="date" name="date"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><u>click to view document</u></td>
    <td><input type="date" name="date"></td>
    <td><input type="date" name="date"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><u>click to view document</u></td>
    <td><input type="date" name="date"></td>
    <td><input type="date" name="date"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><u>click to view document</u></td>
    <td><input type="date" name="date"></td>
    <td><input type="date" name="date"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><u>click to view document</u></td>
    <td><input type="date" name="date"></td>
    <td><input type="date" name="date"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><u>click to view document</u></td>
    <td><input type="date" name="date"></td>
    <td><input type="date" name="date"></td>
  </tr>
</table>
<br>
  <div align="right"><input type="submit" name="submit form">
</div>
</form>
</div>

