<form>


  <ul class="form-style-1">
    <h2>Login  </h2>
    <li>
      <div>
        <label>Email Address</label>
        <input id= 'emailid' type="email"  />
      </div>
      <div>
        <label>Password</label>
        <input id="pwd" type="password"  />
      </div>
    </li>
    <li>
      <div>
        <button title="Submit" class="button" name="Submit" (click)="Send(tsadsadttg)">

          <a routerLink="/studentBookAccommocation" ></a>


          Submit</button>
      </div>
      <div>
        <button title="Submit" class="button" name="Submit"  >Cancel</button>
      </div>
    </li>
  </ul>
  <p class="registrationLink"><u><a href="/studentRegistration">Click here to apply for new accommodation</a></u>  </p>
</form>
